body {
    font-family: monospace;
    background-color: #F4F4F9;
    padding: 3%
}

p, h1, h2, h3, h4, h5, h6 {
    color: #000000;
    line-height: 25px;
    
}

.fonteDiferente {
    font-family: 'Zen Antique', serif;
}

.verdinho {
    color: #04724D;
}



.button {
    color: #000000;
    background-color: #B8DBD9;
    padding: 20px 10px;
    text-decoration: none;
    border-radius: 10px;
    border: 500px 0px;
}

div {
    border: 0px solid green;
}

div.container > .fonteDiferente{
    text-align: center;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container-img {
    width: 100%;
    height: 300px;
    position: relative;
}

#minhaFoto {
    border-radius: 100%;
    height: 280px;
    width: 280px;
    float: left;
    padding: 10px;
    background-color: #B8DBD9;
}

.container h1 {
    margin-bottom: 20px;
}

.description{
    position: absolute;
    right: 20%;
    top: 35%;
}


.container-btn-list{
    padding: 50px 0px 0px 70px
}