@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", "Helvetica Neue";
    background-color: rgba(173, 173, 173, 0.336);
}

.-green {
    color: mediumseagreen;
}

a {
    text-decoration: none;
}

header {
    background-color: #1f8a63;
    margin-bottom: 2rem;
    text-align: center;
}

.nav-container {
    background-color: #2e7a5e;
    line-height: 2em;
}

.nav-link {
    margin-left: 2em;
    padding: 0.4em 10px;
}

.nav-link:hover {
    background-color: #1f8a63;
}

.nav-link:active {
    background-color: #2e7a5e;
}

.img-responsive {
    max-width: 15em;
    border-radius: 2em;
}

p {
    padding: 1em;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 900px){
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-responsive {
    max-width: 20em;
    border-radius: 2em;
}
}
